/* ::::::::::::::::::::: CSS DE BASE ::::::::::::::::: */
* {
	box-sizing : border-box;
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
}
body {
    scroll-behavior: smooth;
    line-height: 1.15;
	margin : 0;
    font-family: 'Roboto', sans-serif;    
    font-size: 1em;
}
main {
    min-height: 90vh;
}
section {
    width: 80%;
    margin: auto;
}
img {
    height : 10rem;
    width: auto;
    max-width: 100%;
}
h1 {
    font-size: 3rem;
    color : #0da49c;
}
h1, h2 {
    width: 100%;
    text-align: center;
    padding: 2rem;
}
p {
    padding: 0.5rem;
}
a {
	text-decoration : none;
	font-weight : bold;
    color: black;
}
/* Barre de recherche */
#form {
    text-align: center;
    width: 100%;
}
#form input {
    width: 80%;
    height: 3rem;
    margin: auto;
    padding-left: 1rem;
    border-radius: 25px;
}
#suggestionsFirstLetter {
    margin: auto;
    padding: 1rem 0;
}

/* ::::::::::::::::::::: HEADER ::::::::::::::::: */
header {
    padding: 1rem;
}
nav {
    text-align: center;
    padding: 1rem;
}
header #form input {
    height: 2rem;
    width: 20%;
}


/* ::::::::::::::::::::: FOOTER ::::::::::::::::: */
footer a {
    display: block;
    text-align: center;
    padding: 1rem;
}

/* ::::::::::::::::::::: ACCUEIL ::::::::::::::::: */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.home section {
    width: 100%;
}
.home h1 {
    font-size: 4rem;
}
.home h2 {
    font-size: 0.9rem;
    font-style: italic;
}

/* ::::::::::::::::::::: REGIONS ::::::::::::::::: */
.infoRegion div {
    padding: 1rem 0;
}
.infoRegion p {
    padding: 1rem;
}

/* ::::::::::::::::::::: VILLES ::::::::::::::::: */
.infoCity img {
    display: block;
    margin: auto;
}
.infoCity p {
    padding: 1rem;
}

/*============================================== VERSION DESKTOP ========================================*/
@media screen and (min-width: 1024px){
    /* ::::::::::::::::::::: CSS DE BASE ::::::::::::::::: */
    #form input {
        width: 40%;  
    }

    /* ::::::::::::::::::::: HEADER ::::::::::::::::: */
    header {
        display: flex;
    }

    /* ::::::::::::::::::::: VILLES ::::::::::::::::: */
    .infoCity {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .infoCity h2 {
        width: 50%;
        margin: auto;
    }
    .infoCity img {
        height : 18rem;
        max-width: 50%;
    }
    .infoCity div {
        width: 45%;
        margin: auto;
    }
}

